.App {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score {
  margin-bottom: 20px;
  font-size: 24px;
}

.play-ground {
  border: 1px solid #a5a5a5;
  max-width: calc(100vw - 32px);
  width: fit-content;
}

.row {
  display: flex;
}

.row:nth-child(2n + 1) .sq:nth-child(2n) {
  background-color: #efefef;
}

.row:nth-child(2n + 1) .sq:nth-child(2n + 1) {
  background-color: #fff;
}

.row:nth-child(2n) .sq:nth-child(2n) {
  background-color: #fff;
}

.row:nth-child(2n) .sq:nth-child(2n + 1) {
  background-color: #efefef;
}

.sq {
  width: 10px;
  height: 10px;
}

.snake {
  background-color: #777 !important;
}

.snake.head {
  background-color: red !important;
}

.apple {
  background-color: green !important;
}

.nav .top-nav .row {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  width: 120px;
}

.nav .top-nav .row.middle {
  justify-content: space-between;
}

.nav .top-nav .row button {
  height: 30px;
  width: 50px;
}

.nav .bottom-nav {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
